.CatPin {
	margin: 0;
	padding: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0);
	transition: ease 0.1s;
	border-radius: 15px;
	position: relative;
}

.CatPin:hover {
	cursor: zoom-in;
}

.catImage {
	width: 100%;
	position: relative;
	object-fit: contain;
	vertical-align: top;
	border-radius: 15px;
	z-index: -1;
}

.blur {
	animation: unBlur 0.2s linear forwards;
	animation-delay: 0.3s;
	filter: blur(25px);
}

@keyframes unBlur {
	to {
		filter: blur(0px);
	}
}

.link {
	text-decoration: none;
}

.pinOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	border-radius: 15px;
	opacity: 0;
}

.pinOverlay:hover {
	opacity: 1;
}

.saveButton {
	height: 20px;
	width: 50px;
	padding: 10px;
	border-radius: 20px;
	color: white;
	font-weight: 700;
	text-align: center;
	background-color: #e60023;
	position: absolute;
	right: 10px;
	top: 10px;
}
.saveButton:hover {
	cursor: pointer;
	background-color: #ad081b;
}

.footerButton {
	width: 25px;
	position: absolute;
	bottom: 10px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 50%;
}

.footerButton:hover {
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}

.options {
	right: 10px;
}

.upload {
	right: 55px;
}
