.my-masonry-grid {
	display: flex;
	margin-left: -15px;
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 15px;
	background-clip: padding-box;
}

.my-masonry-grid_column article {
	margin-bottom: 40px;
}

.CatList {
	margin: auto;
	margin-top: 60px;
	max-width: 500px;
}

/* medium */
@media (min-width: 755px) {
	.CatList {
		max-width: 745px;
	}
}

@media (min-width: 1010px) {
	.CatList {
		max-width: 1000px;
	}
}
@media (min-width: 1260px) {
	.CatList {
		max-width: 1250px;
	}
}
@media (min-width: 1510px) {
	.CatList {
		max-width: 1500px;
	}
}
@media (min-width: 1770px) {
	.CatList {
		max-width: 1760px;
	}
}
